# Frontend
node_modules/
dist/
*.local

# Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Docker
*.log

# DB
*.sqlite3
